<mat-toolbar color="primary">
  <div class='navbar-header-center'>
      <div class='navbar-brand-center'>
        <header class="header">
        <h1>Todos</h1>
      </header>
      </div>
  </div>

</mat-toolbar>
<div class=container>
    <form [formGroup]="accountForm" class="example-form" (ngSubmit)="addTodo()">
        <mat-form-field class="example-full-width">
            <input autocomplete="off"
            matInput placeholder="Add To do"
            id="todoInput"
            formControlName="todoInput"
            type="text"
            class="form-control"/>
        </mat-form-field>
        <div *ngIf="todoInput.touched && todoInput.errors">
            <div class="alert alert-danger" *ngIf="todoInput.errors.required">
              Please Enter text
            </div>
        </div>
        <button class="btn btn-primary" type="submit"
        [disabled]="!accountForm.valid">+</button>
    </form>
</div>


